{% extends "base.html" %}
{% block title %}Se connecter{% endblock title %}

{% block content %}

 <div class="wrapper wrapper--w780 font-poppins">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Connexion</h2>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}

                    <div class="input-group">
                        {% render_field form.username type='text' class='input--style-3' id="exampleInputUsername" placeholder="Nom utilisateur" %}
                    </div>

                    <div class="input-group">
                        {% render_field form.password type="password" class="input--style-3" id="exampleInputPassword" placeholder="Password"%}
                    </div>

                    <div class="p-t-10">
                        <button class="btn btn--pill btn--green" type="submit">Se connecter</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock content %}