{% extends "base.html" %}
{% block title %}Inscription{% endblock title %}


{% block content %}
    <div class="wrapper wrapper--w780 font-poppins">
        <div class="card card-3">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Sign-up</h2>
                <form method="post">
                    {% csrf_token %}
                    {% load widget_tweaks %}

                    <div class="input-group">
                        {% render_field form.first_name class='input--style-3' placeholder='Nom(s)' type='text' %}
                    </div>

                    <div class="input-group">
                        {% render_field form.last_name type='text' class='input--style-3' placeholder='Prénom(s)' %}
                    </div>

                    <div class="input-group">
                        {% render_field form.username type='text' class='input--style-3' id="exampleInputUsername" placeholder="Nom utilisateur" %}
                    </div>

                    <div class="input-group">
                        {% render_field form.password1 type="password" class="input--style-3" id="exampleInputPassword" placeholder="Password"%}
                    </div>

                    <div class="input-group">
                        {% render_field form.password2 type="password" class="input--style-3" id="exampleInputPassword1" placeholder="Confirm password" %}
                    </div>

                    <div class="p-t-10">
                        <button class="btn1 btn--pill btn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

{% endblock content %}