{% extends "base.html" %}
{% block title %}Inscription{% endblock title %}

{% block content %}
<h1>Sign-up</h1>
<br/><br/>
<form method="post">
    {% csrf_token %}
    {% load widget_tweaks %}

<div class="form-group">
<!--  first_name is the name by which first name is created in django forms-->
  {% render_field form.first_name class="form-control" placeholder="Nom(s)" type="text" %}
</div>

<div class="form-group">
<!--   last_name is the name by which last name is created in django forms-->
  {% render_field form.last_name type="text" class="form-control" placeholder="Prénom(s)" %}
</div>

<div class="form-group">
<!--    username is the default name of username in django forms-->
  {% render_field form.username type="text" class="form-control" id="exampleInputUsername" placeholder="Nom utilisateur" %}
</div>

<div class="form-group">
<!--   password1 is the default name of password in django forms-->
  {% render_field form.password1 type="password" class="form-control" id="exampleInputPassword" placeholder="Mot de passe" %}
</div>

<div class="form-group">
<!--   password2 is the default name of confirm password in django forms-->
  {% render_field form.password2 type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirmation du mot de passe" %}
</div>

<div>
  <button type="submit" value="Submit" > S'inscrire </button>
</div>
</form>

{% endblock content %}