{% extends "base.html" %}
{% block title %}Ajouter un post{% endblock title %}
{% block content %}
{% load static %}
<link rel='stylesheet' href='{% static "new/css/ajout.css" %}'>
<h1>Add post</h1>
<br/><br/>

<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <button class='btn btn-secondary'>Post</button> 
</form>
<script>
    document.getElementsByTagName('label')[0].id = 'id_image-preview'
    document.getElementsByTagName('label')[0].innerHTML = '<img src=\'../static/images/dummy-post-square-1-thegem-blog-masonry.jpg\' alt="" width="640" height="640">'
</script>
<script src='{% static "new/js/add.js" %}'></script>
{% endblock content %}